<h1>Hello</h1>

<%= form_with url: pages_path, method: :post do |form| %>
    <%= form.label :user, 'user: ' %>
    <%= form.text_field :user %>

    <%= form.label :article, 'article: ' %>
    <%= form.text_field :article %>

    <%= form.label :text, 'text: ' %>
    <%= form.text_field :text %>

    <%= form.submit "Create" %>
<% end %>

<table border=1 cellspacing=0 style="width: 60%;">
  <tr>
    <th>id</th>
    <th>user</th>
    <th>article</th>
    <th>text</th>
  </tr>
  <% @pages.each do |page| %>
      <tr>
        <td> <%= page.id %> </td>
        <td> <%= page.user %> </td>
        <td> <%= page.article %> </td>
        <td> <%= page.text %> </td>
        <td> <%= button_to 'Delete', page_path(page.id), method: :delete, data: { confirm: true } %> </td>
      </tr>
  <% end %>
</table>
