<h1>Hello</h1>

<%= form_with url: pages_path, method: :post do |form| %>
    <%= form.label :title, 'Title: '%>
    <%= form.text_field :title %>
    <%= form.submit "Create" %>
<% end %>

<table border=1 cellspacing=0 style="width: 60%;">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>Actions</th>
  </tr>
  <% @pages.each do |page| %>
      <tr>
        <td> <%= page.id %> </td>
        <td> <%= page.title %> </td>
        <td> <%= button_to 'Delete', page_path(page.id), method: :delete, data: { confirm: true } %> </td>
      </tr>
  <% end %>
</table>
