<h1>Hello</h1>

<%= form_with url: pages_path, method: :post do |form| %>
    <%= form.label :title, 'Title: '%>
    <%= form.text_field :title %>
    <%= form.submit "Create" %>
<% end %>



<% @pages.each do |page| %>
  <%= page.title %>
<% end %>
